<html>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div>
    <p>
      <%= "#{session[:num_wrong]} of 6 wrong answers" %>
    </p>
    <p>
      <%= session[:guess_string] %>
    </p>

      <form method="POST" action="/">
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
      </form>
    <p>
      <%= session[:message] %>
    </p>
    <form method="GET" action="/newgame">
			<input type="submit" value="Restart?">
		</form>
    </div>
</body>
</html>
