<html>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div>
    <p>
      <%= session[:guess_string] %>
    </p>
    <p>
      You win!
    </p>
    <form method="GET" action="/newgame">
			<input type="submit" value="New Game?">
		</form>
  </div>
</body>
</html>
